<!DOCTYPE html>
<html>
<head>
  <meta charset="ISO-8859-1">
  <title>Hồ Sơ đăng ký thuế</title>
</head>
<body>
<div th:replace="fragments::link_css"></div>
<div th:replace="fragments::navbar"></div>
<div th:replace="fragments::sidebar"></div>
<main>
  <div class="site-section">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <!-- chỗ này là báo cáo tổng hợp số thuế đã nộp -->

          <H3>
            Mã số thuế : <span th:text="${maSoThue}" ></span>
          </H3>
          <table class="table" >
            <thead>
            <tr>
              <th scope="col">STT</th>
              <th scope="col">Mã số thuế </th>
              <th scope="col">Tài liệu đính kèm   </th>
              <th scope="col">Cơ quan đăng ký</th>
              <th scope="col">Trạng thái hồ sơ</th>
            </tr>
            </thead>
            <tbody class="table-group-divider" th:each="hoso : ${listHoSo}">
            <tr>
              <th scope="row">001</th>
              <td><span th:text="${hoso.idHoSoDangKyThue}"></span></td>
              <td><a href="#" target="_blank" style="font-style: italic">
                <span th:text="${hoso.tkdccnKinhDoanhIdTkdccnKinhDoanh}"></span>
              </a></td>
              <td>
                <a href="https://www.facebook.com/truyenthongtongcucthue" target="_blank">
                  <span th:text="${hoso.tongcucthueIdTongCucThue}"></span>
                </a>

              </td>
              <td ><span th:text="${hoso.trangthaihoso}"></span></td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>




<div th:replace="fragments::script_bootstrap"></div>




</body>
</html>